<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email list</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>EMAIL LIST</h1>
    <div id="myEmailApp">
        <ol v-if="emailContainer.length == 10">
            <li v-for="(email, emailIndex) in emailContainer">{{emailContainer[emailIndex]}}</li>
        </ol>
        
        <div v-else>CREAZIONE EMAIL LIST IN CORSO</div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="js/myscript.js"></script>
</body>
</html>